# .github/workflows/alpine.yaml

name: Build on Alpine Linux (Chroot)

on:
  workflow_dispatch: NULL

jobs:
  alpine-build:
    name: Build on Alpine Linux for ${{matrix.target}} with ${{matrix.compiler.GCC}}
    strategy:
      fail-fast: FALSE
      matrix:
        target: [
          'x86_64', 'x86', 'aarch64', 'armhf', 'ppc64le', 'armv7', 'riscv64', 'loongarch64' #, 's390x'
        ]
        compiler:
        - { apk: 'g++',     GCC: 'gcc',      GXX: 'g++'        }
        #- { apk: 'clang15', GCC: 'clang-15', GXX: 'clang++-15' }
        - { apk: 'clang16', GCC: 'clang-16', GXX: 'clang++-16' }
        #- { apk: 'clang17', GCC: 'clang-17', GXX: 'clang++-17' }

        - { apk: 'clang18', GCC: 'clang-18', GXX: 'clang++-18' }
        - { apk: 'clang19', GCC: 'clang-19', GXX: 'clang++-19' }
        - { apk: 'clang20', GCC: 'clang-20', GXX: 'clang++-20' }

    runs-on: ubuntu-24.04

    defaults:
      run: { shell: bash }
    steps:

    - name: Machine Information
      run: |
        exec 2>&1
        lscpu; free -h; df -h .
    - name: System Information
      run: |
        exec 2>&1
        date; uname -a; uptime; cat /etc/os-release; ls -C /boot || :
    - name: Context Information
      run: |
        exec 2>&1
        tty || :; id; printf %s\\n "$SHELL"; printf %s\\n "$PATH"; pwd

    - name: Host System Setup
      run: |
        exec 2>&1
        set -x
        sudo apt-get update
        sudo apt-get install qemu-user-static

    - name: Alpine Linux Chroot Setup
      run: |
        exec 2>&1

        wget -q -O- https://dl-cdn.alpinelinux.org/alpine/v3.22/releases/${{matrix.target}}/alpine-minirootfs-3.22.2-${{matrix.target}}.tar.gz |
           (sudo mkdir /srv/alpine && sudo tar xz -C /srv/alpine)
        (for d in dev proc sys; do sudo mount --rbind -o ro {,/srv/alpine}/"$d"; done)
        (for d in run tmp; do sudo mount {-t,}tmpfs /srv/alpine/"$d"; done)
        sudo cp -L /etc/resolv.conf /srv/alpine/etc

        sudo chroot /srv/alpine su - <<'END'
           set -x
           #cat /etc/passwd /etc/group
           #addgroup -g127 docker && adduser -D -u1001 -Gdocker -s/bin/ash runner && delgroup runner docker
           #adduser -D -u1001 -s/bin/ash runner
           adduser -D -u1001 runner
           ls -la /bin
           cat /etc/passwd
           cat /etc/group
        END
        (set -x; sudo mount --rbind . /srv/alpine/home/runner)

        sudo chroot /srv/alpine su - runner <<'END'
           id
           uname -a && printf %s\\n "$SHELL"; printf %s\\n "$PATH" && pwd
        END

        sudo chroot /srv/alpine su - <<'END'
           apk update && apk add ${{matrix.compiler.apk}} libc-dev make
        END

    - name: Build Tools Information
      run: |
        sudo chroot /srv/alpine su - runner <<'END'
           make --version; ${{matrix.compiler.GCC}} --version
        END

    - name: Checkout
      uses: actions/checkout@v4
      with: { ref: master }

    - name: Run Make (and Check)
      run: |
        ls -l
        sudo chroot /srv/alpine su - runner <<'END'
           ls -l
           make -j4 run \
              GCC='${{matrix.compiler.GCC}}' \
              GXX='${{matrix.compiler.GXX}}' \
              MARCH=
        END

    - name: Upload Results
      uses: actions/upload-artifact@v4
      with:
        name: build-${{matrix.target}}-${{matrix.compiler.GCC}}
        path: build
