# .github/workflows/build.yaml

name: Normal Build

on:
  workflow_dispatch: NULL

jobs:
  normal-build:
    name: On Ubuntu ${{matrix.compiler.osver}} with ${{matrix.compiler.label}}/${{matrix.target.label}}
    strategy:
      fail-fast: FALSE
      matrix:
        compiler:
        #- { label: 'gcc9',    osver: '22.04', gcc: 'gcc-9',    gxx: 'g++-9',      pkgs: 'g++-9-multilib'  }
        #- { label: 'gcc9',    osver: '24.04', gcc: 'gcc-9',    gxx: 'g++-9',      pkgs: 'g++-9-multilib'  }
        #- { label: 'gcc10',   osver: '22.04', gcc: 'gcc-10',   gxx: 'g++-10',     pkgs: 'g++-10-multilib' }
        #- { label: 'gcc10',   osver: '24.04', gcc: 'gcc-10',   gxx: 'g++-10',     pkgs: 'g++-10-multilib' }
        #- { label: 'gcc11',   osver: '22.04', gcc: 'gcc',      gxx: 'g++',        pkgs: 'g++-multilib'    }
        #- { label: 'gcc11',   osver: '24.04', gcc: 'gcc-11',   gxx: 'g++-11',     pkgs: 'g++-11-multilib' }
        #- { label: 'gcc12',   osver: '22.04', gcc: 'gcc-12',   gxx: 'g++-12',     pkgs: 'g++-12-multilib' }
        #- { label: 'gcc12',   osver: '24.04', gcc: 'gcc-12',   gxx: 'g++-12',     pkgs: 'g++-12-multilib' }
        #- { label: 'gcc13',   osver: '24.04', gcc: 'gcc',      gxx: 'g++',        pkgs: 'g++-multilib'    }
        #- { label: 'gcc14',   osver: '24.04', gcc: 'gcc-14',   gxx: 'g++-14',     pkgs: 'g++-14-multilib' }
        #- { label: 'clang13', osver: '22.04', gcc: 'clang-13', gxx: 'clang++-13', pkgs: 'g++-multilib clang-13' }
        #- { label: 'clang14', osver: '22.04', gcc: 'clang',    gxx: 'clang++',    pkgs: 'g++-multilib clang'    }
        #- { label: 'clang14', osver: '24.04', gcc: 'clang-14', gxx: 'clang++-14', pkgs: 'g++-multilib clang-14' }
        #- { label: 'clang15', osver: '22.04', gcc: 'clang-15', gxx: 'clang++-15', pkgs: 'g++-multilib clang-15' }
        #- { label: 'clang15', osver: '24.04', gcc: 'clang-15', gxx: 'clang++-15', pkgs: 'g++-multilib clang-15' }
        #- { label: 'clang16', osver: '24.04', gcc: 'clang-16', gxx: 'clang++-16', pkgs: 'g++-multilib clang-16' }
        #- { label: 'clang17', osver: '24.04', gcc: 'clang-17', gxx: 'clang++-17', pkgs: 'g++-multilib clang-17' }
        #- { label: 'clang18', osver: '24.04', gcc: 'clang',    gxx: 'clang++',    pkgs: 'g++-multilib clang'    }
        #- { label: 'clang19', osver: '24.04', gcc: 'clang-19', gxx: 'clang++-19', pkgs: 'g++-multilib clang-19' }

        - { label: 'gcc9',    osver: '22.04', gcc: 'gcc-9',    gxx: 'g++-9',      pkgs: 'g++-9'  }
        - { label: 'gcc9',    osver: '24.04', gcc: 'gcc-9',    gxx: 'g++-9',      pkgs: 'g++-9'  }
        - { label: 'gcc10',   osver: '22.04', gcc: 'gcc-10',   gxx: 'g++-10',     pkgs: 'g++-10' }
        - { label: 'gcc10',   osver: '24.04', gcc: 'gcc-10',   gxx: 'g++-10',     pkgs: 'g++-10' }
        - { label: 'gcc11',   osver: '22.04', gcc: 'gcc',      gxx: 'g++',        pkgs: 'make'    }
        - { label: 'gcc11',   osver: '24.04', gcc: 'gcc-11',   gxx: 'g++-11',     pkgs: 'g++-11' }
        - { label: 'gcc12',   osver: '22.04', gcc: 'gcc-12',   gxx: 'g++-12',     pkgs: 'g++-12' }
        - { label: 'gcc12',   osver: '24.04', gcc: 'gcc-12',   gxx: 'g++-12',     pkgs: 'g++-12' }
        - { label: 'gcc13',   osver: '24.04', gcc: 'gcc',      gxx: 'g++',        pkgs: 'make'    }
        - { label: 'gcc14',   osver: '24.04', gcc: 'gcc-14',   gxx: 'g++-14',     pkgs: 'g++-14' }
        - { label: 'clang13', osver: '22.04', gcc: 'clang-13', gxx: 'clang++-13', pkgs: 'clang-13' }
        - { label: 'clang14', osver: '22.04', gcc: 'clang',    gxx: 'clang++',    pkgs: 'make'    }
        - { label: 'clang14', osver: '24.04', gcc: 'clang-14', gxx: 'clang++-14', pkgs: 'clang-14' }
        - { label: 'clang15', osver: '22.04', gcc: 'clang-15', gxx: 'clang++-15', pkgs: 'clang-15' }
        - { label: 'clang15', osver: '24.04', gcc: 'clang-15', gxx: 'clang++-15', pkgs: 'clang-15' }
        - { label: 'clang16', osver: '24.04', gcc: 'clang-16', gxx: 'clang++-16', pkgs: 'clang-16' }
        - { label: 'clang17', osver: '24.04', gcc: 'clang-17', gxx: 'clang++-17', pkgs: 'clang-17' }
        - { label: 'clang18', osver: '24.04', gcc: 'clang',    gxx: 'clang++',    pkgs: 'clang'    }
        - { label: 'clang19', osver: '24.04', gcc: 'clang-19', gxx: 'clang++-19', pkgs: 'clang-19' }

        #- { label: 'gcc9',    osver: '22.04-arm', gcc: 'gcc-9',    gxx: 'g++-9',      pkgs: 'g++-9'  }
        #- { label: 'gcc9',    osver: '24.04-arm', gcc: 'gcc-9',    gxx: 'g++-9',      pkgs: 'g++-9'  }
        #- { label: 'gcc10',   osver: '22.04-arm', gcc: 'gcc-10',   gxx: 'g++-10',     pkgs: 'g++-10' }
        #- { label: 'gcc10',   osver: '24.04-arm', gcc: 'gcc-10',   gxx: 'g++-10',     pkgs: 'g++-10' }
        #- { label: 'gcc11',   osver: '22.04-arm', gcc: 'gcc',      gxx: 'g++',        pkgs: 'g++'    }
        #- { label: 'gcc11',   osver: '24.04-arm', gcc: 'gcc-11',   gxx: 'g++-11',     pkgs: 'g++-11' }
        #- { label: 'gcc12',   osver: '22.04-arm', gcc: 'gcc-12',   gxx: 'g++-12',     pkgs: 'g++-12' }
        #- { label: 'gcc12',   osver: '24.04-arm', gcc: 'gcc-12',   gxx: 'g++-12',     pkgs: 'g++-12' }
        #- { label: 'gcc13',   osver: '24.04-arm', gcc: 'gcc',      gxx: 'g++',        pkgs: 'g++'    }
        #- { label: 'gcc14',   osver: '24.04-arm', gcc: 'gcc-14',   gxx: 'g++-14',     pkgs: 'g++-14' }
        #- { label: 'clang13', osver: '22.04-arm', gcc: 'clang-13', gxx: 'clang++-13', pkgs: 'clang-13' }
        #- { label: 'clang14', osver: '22.04-arm', gcc: 'clang',    gxx: 'clang++',    pkgs: 'clang'    }
        #- { label: 'clang14', osver: '24.04-arm', gcc: 'clang-14', gxx: 'clang++-14', pkgs: 'clang-14' }
        #- { label: 'clang15', osver: '22.04-arm', gcc: 'clang-15', gxx: 'clang++-15', pkgs: 'clang-15' }
        #- { label: 'clang15', osver: '24.04-arm', gcc: 'clang-15', gxx: 'clang++-15', pkgs: 'clang-15' }
        #- { label: 'clang16', osver: '24.04-arm', gcc: 'clang-16', gxx: 'clang++-16', pkgs: 'clang-16' }
        #- { label: 'clang17', osver: '24.04-arm', gcc: 'clang-17', gxx: 'clang++-17', pkgs: 'clang-17' }
        #- { label: 'clang18', osver: '24.04-arm', gcc: 'clang',    gxx: 'clang++',    pkgs: 'clang'    }
        #- { label: 'clang19', osver: '24.04-arm', gcc: 'clang-19', gxx: 'clang++-19', pkgs: 'clang-19' }
        target:
        - { label: '64'                                    }
        #- { label: '32', march: '-m32 -msse2 -mfpmath=sse' }
    runs-on: ubuntu-${{matrix.compiler.osver}}

    defaults:
      run: { shell: bash }
    steps:

    - name: Machine Information
      run: |
        exec 2>&1
        set -x
        lscpu; free -h; df -H .
    - name: System Information
      run: |
        exec 2>&1
        date; uname -a; uptime
        set -x
        systemd-detect-virt || :
        cat /etc/os-release
        ls -C /boot || :
    - name: Context Information
      run: |
        exec 2>&1
        tty || :; id; printf %s\\n SHELL="$SHELL" PATH="$PATH"
        set -x
        pwd
        ps -eH --sort pid -o pid,user:12,group:12,comm:24,rsz,vsz,thcount,bsdstart,state,tname

    - name: Update Package DB
      run: exec 2>&1; sudo apt-get update
    - name: Install Build Dependencies
      run: exec 2>&1; sudo apt-get install ${{matrix.compiler.pkgs}}
    - name: Install Valgrind
      run: exec 2>&1; sudo apt-get --no-install-recommends install valgrind

    - name: Build Tools Information
      run: make --version; ${{matrix.compiler.gcc}} --version

    - name: Checkout
      uses: actions/checkout@v4
      with: { ref: master }

    - name: Run Make
      run: |
        make -j4 GCC='${{matrix.compiler.gcc}}' GXX='${{matrix.compiler.gxx}}' MARCH='${{matrix.target.march}}'

    - name: Check
      run: |
        make -j4 GCC='${{matrix.compiler.gcc}}' GXX='${{matrix.compiler.gxx}}' MARCH='${{matrix.target.march}}' run
    #- name: Check Valgrind
    #  if: matrix.target.label == '64'
    #  run: |
    #    make -j4 GCC='${{matrix.compiler.gcc}}' GXX='${{matrix.compiler.gxx}}' MARCH='${{matrix.target.march}}' run-valgrind
    #  #continue-on-error: TRUE

    - name: Upload Results
      uses: actions/upload-artifact@v4
      with:
        name: build-${{matrix.compiler.label}}-${{matrix.compiler.osver}}-${{matrix.target.label}}
        path: build
