# .github/workflows/docker.yaml

name: Build in Docker Containers

on:
  workflow_dispatch: NULL

jobs:
  build:

    name: Build under ${{matrix.target.os}}
    strategy:
      fail-fast: FALSE
      matrix:
        target:
        - { label: "debian13", os: "debian:13",
            preinstall: "apt-get update; apt-get -y upgrade; apt-get -y install procps",
            install:    "apt-get -y install make g++" }
        - { label: "debian12", os: "debian:12",
            preinstall: "apt-get update; apt-get -y upgrade; apt-get -y install procps",
            install:    "apt-get -y install make g++" }
        - { label: "debian11", os: "debian:11",
            preinstall: "apt-get update; apt-get -y upgrade; apt-get -y install procps",
            install:    "apt-get -y install make g++" }
        - { label: "debians", os: "debian:stable",
            preinstall: "apt-get update; apt-get -y upgrade; apt-get -y install procps",
            install:    "apt-get -y install make g++" }
        - { label: "debiano", os: "debian:oldstable",
            preinstall: "apt-get update; apt-get -y upgrade; apt-get -y install procps",
            install:    "apt-get -y install make g++" }
        - { label: "debianoo", os: "debian:oldoldstable",
            preinstall: "apt-get update; apt-get -y upgrade; apt-get -y install procps",
            install:    "apt-get -y install make g++" }
        - { label: "debian", os: "debian:latest",
            preinstall: "apt-get update; apt-get -y upgrade; apt-get -y install procps",
            install:    "apt-get -y install make g++" }
        - { label: "debianu", os: "debian:unstable",
            preinstall: "apt-get update; apt-get -y upgrade; apt-get -y install procps",
            install:    "apt-get -y install make g++" }
        - { label: "debiansid", os: "debian:sid",
            preinstall: "apt-get update; apt-get -y upgrade; apt-get -y install procps",
            install:    "apt-get -y install make g++" }
        - { label: "rhel",   os: "almalinux",
          preinstall: "dnf -y update; dnf -y install procps-ng util-linux",
          install:    "dnf -y install make g++" }
        - { label: "suse",   os: "opensuse/tumbleweed",
          preinstall: "zypper update -y",
          install:    "zypper install -y make gcc-c++" }
        - { label: "arch",   os: "archlinux",
          preinstall: "pacman --noconfirm -Syu",
          install:    "pacman --noconfirm -S make gcc" }
    runs-on: ubuntu-22.04
    #container: ${{matrix.target.os}}

    container:
      image: ${{matrix.target.os}}
      options: --platform=linux/i386

    defaults:
      run: { shell: bash }
    steps:

    - name: Pre-Setup
      run: |
        exec 2>&1
        set -x
        ${{matrix.target.preinstall}}

    - name: Machine Information
      run: |
        exec 2>&1
        set -x
        lscpu; free -h; df -H .
    - name: System Information
      run: |
        date; uname -a; w | head -1; cat /etc/os-release
    - name: Context Information
      run: |
        exec 2>&1
        tty || :; id; printf %s\\n SHELL="$SHELL" PATH="$PATH"
        set -x
        pwd
        ps -e --sort ppid,pid -o ppid,pid,user:12,group:12,comm:24,rsz:11,vsz:11,thcount,bsdstart,state,tname

    - name: Setup
      run: |
        exec 2>&1
        set -x
        ${{matrix.target.install}}

    - name: Build Tools Information
      run: |
        make --version; gcc --version

    - name: Checkout
      uses: actions/checkout@v4
      with: { ref: master }

    - name: Run Make (and Check)
      run: |
        exec 2>&1
        set -x
        make -j4 run

    - name: Upload Results
      uses: actions/upload-artifact@v4
      with:
        name: build-${{matrix.target.label}}
        path: build
