# .github/workflows/qemu.yaml

name: Build Under Latest Ubuntu

on:
  workflow_dispatch: NULL

jobs:

  latest-build:
    name: Build with ${{matrix.compiler.label}}/${{matrix.march.label}}
    strategy:
      fail-fast: FALSE
      matrix:
        compiler:
        - { label: 'gcc11',   gcc: 'gcc-11',   gxx: 'g++-11' }
        - { label: 'gcc12',   gcc: 'gcc-12',   gxx: 'g++-12' }
        - { label: 'gcc13',   gcc: 'gcc-13',   gxx: 'g++-13' }
        - { label: 'gcc14',   gcc: 'gcc-14',   gxx: 'g++-14' }
        - { label: 'gcc15',   gcc: 'gcc',      gxx: 'g++' }
        - { label: 'clang14', gcc: 'clang-14', gxx: 'clang++-14' }
        # - { label: 'clang15', gcc: 'clang-15', gxx: 'clang++-15' }
        - { label: 'clang17', gcc: 'clang-17', gxx: 'clang++-17' }
        - { label: 'clang18', gcc: 'clang-18', gxx: 'clang++-18' }
        - { label: 'clang19', gcc: 'clang-19', gxx: 'clang++-19' }
        - { label: 'clang20', gcc: 'clang',    gxx: 'clang++' }
        - { label: 'clang21', gcc: 'clang-21', gxx: 'clang++-21' }
        march:
        - { label: '64', flags: '' }
        - { label: '32', flags: '-m32 -msse2 -mfpmath=sse' }

    runs-on: ubuntu-latest
    needs: [ latest-cache ]

    defaults:
      run: { shell: bash }
    steps:

    - &minfo
      name: Host Machine Information
      run: |
        exec 2>&1
        set -x
        lscpu; free -h; df -H .
    - &sinfo
      name: Host System Information
      run: |
        exec 2>&1
        date; uname -a; uptime
        set -x
        systemd-detect-virt; cat /etc/os-release; ls -C /boot || :
    - &cinfo
      name: Context Information
      run: |
        exec 2>&1
        tty || :; id; printf %s\\n "SHELL=$SHELL" "PATH=$PATH"
        set -x
        pwd
    - name: Host Setup
      run: |
        exec 2>&1
        set -x
        sudo sed -i /azure/d /etc/apt/apt-mirrors.txt
        sudo apt-get update
        sudo apt-get install --no-install-recommends qemu-system-x86 cloud-image-utils
    - name: QEMU Information
      run: |
        exec 2>&1
        qemu-system-x86_64 --version

    - name: Cache Object Lookup
      uses: actions/cache@v4
      with:
        key: ubuntu-latest-cloud-minimal
        path: |
          ~/root.img
          ~/.ssh/id_rsa
          /usr/local/bin/vmbash.sh
    - name: Start Guest
      run: |
        exec 2>&1
        set -x
        cd
        sudo qemu-system-x86_64 -enable-kvm -cpu host -smp 4 -m 10G \
          -drive file=root.img,if=virtio,cache=unsafe -nic user,model=virtio,hostfwd=:127.0.0.1:222-:22 \
          -daemonize -vga none -display none
        until ssh -oStrictHostKeyChecking=no -p222 root@127.0.0.1 : 2>/dev/null; do sleep 1; done
    - name: Time Synchronization
      shell: vmbash.sh {0}
      run: |
        exec 2>&1
        until [ "$(set -x; timedatectl show --value -pNTPSynchronized)" = yes ]; do (set -x; sleep 1) done

    - name: Checkout
      uses: actions/checkout@v4
      with: { ref: master }
    - name: Upload to Guest
      run: |
        exec 2>&1
        set -x
        cd ..
        tar c --{owner,group}=0 manool | ssh -p222 root@127.0.0.1 tar x

    - name: Build and Test
      shell: vmbash.sh {0}
      run: |
        exec 2>&1
        set -x
        make --version; ${{matrix.compiler.gcc}} --version
        make -Cmanool -j4 run \
           GCC='${{matrix.compiler.gcc}}' GXX='${{matrix.compiler.gxx}}' \
           MARCH='${{matrix.march.flags}}'

    - name: Download from Guest
      run: |
        exec 2>&1
        set -x
        cd ..
        rm -r manool
        ssh -p222 root@127.0.0.1 tar c --{owner,group}=0 manool | tar x
    - name: Upload Results
      uses: actions/upload-artifact@v4
      with:
        name: latest-${{matrix.compiler.label}}-${{matrix.march.label}}
        path: build

  latest-cache:
    name: Prepare Guest VM
    runs-on: ubuntu-latest

    defaults:
      run: { shell: bash }
    steps:

    - *minfo
    - *sinfo
    - *cinfo
    - name: Cache Object Lookup
      id: cache
      uses: actions/cache@v4
      with:
        key: ubuntu-latest-cloud-minimal
        path: |
          ~/root.img
          ~/.ssh/id_rsa
          /usr/local/bin/vmbash.sh
        lookup-only: TRUE

    - name: Host Setup
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        exec 2>&1
        set -x
        sudo sed -i /azure/d /etc/apt/apt-mirrors.txt
        sudo apt-get update
        sudo apt-get install --no-install-recommends qemu-system-x86 cloud-image-utils
    - name: QEMU Information
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        exec 2>&1
        qemu-system-x86_64 --version

    - name: Deploy and Start Guest
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        exec 2>&1
        set -x
        cd

        wget --no-show-progress -O root.img \
          https://cloud-images.ubuntu.com/minimal/releases/questing/release/ubuntu-25.10-minimal-cloudimg-amd64.img
          #https://cloud-images.ubuntu.com/questing/current/questing-server-cloudimg-amd64.img
        qemu-img resize root.img 8G

        mkdir -m700 .ssh
        ssh-keygen -N '' -t ed25519 -f .ssh/id_rsa
        cloud-localds seed.iso - <<END
        #cloud-config
        users:
        - name: root
          ssh_authorized_keys: [ '$(<.ssh/id_rsa.pub)' ]
        END

        sudo qemu-system-x86_64 -enable-kvm -cpu host -smp 4 -m 10G \
          -drive file=root.img,if=virtio,cache=unsafe -nic user,model=virtio,hostfwd=:127.0.0.1:222-:22 \
          -daemonize -vga none -display none -cdrom seed.iso
        until ssh -oStrictHostKeyChecking=no -p222 root@127.0.0.1 : 2>/dev/null; do sleep 1; done

        tee /usr/local/bin/vmbash.sh <<'END' >/dev/null; chmod +x /usr/local/bin/vmbash.sh
        #!/bin/bash
        ssh -p222 root@127.0.0.1 bash --noprofile --norc -e -o pipefail <$1
        END

    - name: Time Synchronization
      if: steps.cache.outputs.cache-hit != 'true'
      shell: vmbash.sh {0}
      run: |
        exec 2>&1
        until [ "$(set -x; timedatectl show --value -pNTPSynchronized)" = yes ]; do (set -x; sleep 1) done

    - name: Guest Information
      if: steps.cache.outputs.cache-hit != 'true'
      shell: vmbash.sh {0}
      run: |
        exec 2>&1
        set -x
        lscpu; free -h; df -H .
    - name: Guest Setup
      if: steps.cache.outputs.cache-hit != 'true'
      shell: vmbash.sh {0}
      run: |
        exec 2>&1
        set -x
        apt-get update
        apt-get -y install software-properties-common
        add-apt-repository universe
        apt-get update
        apt-get -y install make g++{,-{11..15}} clang{,-{14,17,18,19,21}}
        
    - name: Guest Shutdown
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        exec 2>&1
        (set -x; ssh -p222 root@127.0.0.1 poweroff) || :
        while [ "$(set -x; sudo lsof -w ~/root.img)" ]; do (set -x; sleep 1) done
