# .github/workflows/latest.yaml

name: Build Under Latest Ubuntu

on:
  workflow_dispatch: NULL

jobs:

  latest-build:
    name: Build with ${{matrix.compiler.label}}
    strategy:
      fail-fast: FALSE
      matrix:
        compiler:
        - { label: 'gcc11-64',       gcc: 'gcc-11',                            gxx: 'g++-11',                              setup: 'g++-11' }
        - { label: 'gcc11-32',       gcc: 'gcc-11 -m32 -msse2 -mfpmath=sse',   gxx: 'g++-11 -m32 -msse2 -mfpmath=sse',     setup: 'g++-11-multilib' }
        - { label: 'gcc12-64',       gcc: 'gcc-12',                            gxx: 'g++-12',                              setup: 'g++-12' }
        - { label: 'gcc12-32',       gcc: 'gcc-12 -m32',                       gxx: 'g++-12 -m32',                         setup: 'g++-12-multilib' }
        - { label: 'gcc13-64',       gcc: 'gcc-13',                            gxx: 'g++-13',                              setup: 'g++-13' }
        - { label: 'gcc13-32',       gcc: 'gcc-13 -m32',                       gxx: 'g++-13 -m32',                         setup: 'g++-13-multilib' }
        - { label: 'gcc14-64',       gcc: 'gcc-14',                            gxx: 'g++-14',                              setup: 'g++-14' }
        - { label: 'gcc14-32',       gcc: 'gcc-14 -m32',                       gxx: 'g++-14 -m32',                         setup: 'g++-14-multilib' }
        - { label: 'gcc15-64',       gcc: 'gcc',                               gxx: 'g++',                                 setup: 'g++' }
        - { label: 'gcc15-32',       gcc: 'gcc -m32',                          gxx: 'g++ -m32',                            setup: 'g++-multilib' }
        - { label: 'clang14-64',     gcc: 'clang-14',                          gxx: 'clang++-14',                          setup: 'clang-14' }
        - { label: 'clang14-32',     gcc: 'clang-14 -m32 -msse2 -mfpmath=sse', gxx: 'clang++-14 -m32 -msse2 -mfpmath=sse', setup: 'clang-14 g++-multilib' }
        - { label: 'clang14-libcxx', gcc: 'clang-14',                          gxx: 'clang++-14 -stdlib=libc++',           setup: 'clang-14 libc++{,abi}-14-dev' }
        - { label: 'clang17-64',     gcc: 'clang-17',                          gxx: 'clang++-17',                          setup: 'clang-17' }
        - { label: 'clang17-32',     gcc: 'clang-17 -m32 -msse2 -mfpmath=sse', gxx: 'clang++-17 -m32 -msse2 -mfpmath=sse', setup: 'clang-17 g++-multilib' }
        - { label: 'clang17-libcxx', gcc: 'clang-17',                          gxx: 'clang++-17 -stdlib=libc++',           setup: 'clang-17 libc++{,abi}-17-dev' }
        - { label: 'clang18-64',     gcc: 'clang-18',                          gxx: 'clang++-18',                          setup: 'clang-18' }
        - { label: 'clang18-32',     gcc: 'clang-18 -m32 -msse2 -mfpmath=sse', gxx: 'clang++-18 -m32 -msse2 -mfpmath=sse', setup: 'clang-18 g++-multilib' }
        - { label: 'clang18-libcxx', gcc: 'clang-18',                          gxx: 'clang++-18 -stdlib=libc++',           setup: 'clang-18 libc++{,abi}-18-dev' }
        - { label: 'clang19-64',     gcc: 'clang-19',                          gxx: 'clang++-19',                          setup: 'clang-19' }
        - { label: 'clang19-32',     gcc: 'clang-19 -m32 -msse2 -mfpmath=sse', gxx: 'clang++-19 -m32 -msse2 -mfpmath=sse', setup: 'clang-19 g++-multilib' }
        - { label: 'clang19-libcxx', gcc: 'clang-19',                          gxx: 'clang++-19 -stdlib=libc++',           setup: 'clang-19 libc++{,abi}-19-dev' }
        - { label: 'clang20-64',     gcc: 'clang',                             gxx: 'clang++',                             setup: 'clang' }
        - { label: 'clang20-32',     gcc: 'clang -m32 -msse2 -mfpmath=sse',    gxx: 'clang++ -m32 -msse2 -mfpmath=sse',    setup: 'clang g++-multilib' }
        - { label: 'clang20-libcxx', gcc: 'clang',                             gxx: 'clang++ -stdlib=libc++',              setup: 'clang libc++{,abi}-dev' }
        - { label: 'clang21-64',     gcc: 'clang-21',                          gxx: 'clang++-21',                          setup: 'clang-21' }
        - { label: 'clang21-32',     gcc: 'clang-21 -m32 -msse2 -mfpmath=sse', gxx: 'clang++-21 -m32 -msse2 -mfpmath=sse', setup: 'clang-21 g++-multilib' }
        - { label: 'clang21-libcxx', gcc: 'clang-21',                          gxx: 'clang++-21 -stdlib=libc++',           setup: 'clang-21 libc++{,abi}-21-dev' }

    runs-on: ubuntu-latest
    container: ubuntu:25.10

    defaults:
      run: { shell: bash }
    steps:

    - name: Machine Information
      run: |
        exec 2>&1
        set -x
        lscpu; free -h; df -H .
    - name: System Information
      run: |
        exec 2>&1
        date; uname -a; uptime
        set -x
        cat /etc/os-release; ls -C /boot || :
    - name: Context Information
      run: |
        exec 2>&1
        tty || :; id; printf %s\\n "SHELL=$SHELL" "PATH=$PATH"
        set -x
        pwd
    #- name: Host Setup
    #  run: |
    #    exec 2>&1
    #    set -x
    #    sudo sed -i /azure/d /etc/apt/apt-mirrors.txt
    #    sudo apt-get update
    #    sudo apt-get install --no-install-recommends qemu-system-x86 cloud-image-utils
    #- name: QEMU Information
    #  run: |
    #    exec 2>&1
    #    qemu-system-x86_64 --version
    - name: Setup
      run: |
        exec 2>&1
        set -x
        apt-get update
        apt-get -y install make ${{matrix.compiler.setup}}

    - name: Checkout
      uses: actions/checkout@v4
      with: { ref: master }

    - name: Build and Test
      run: |
        exec 2>&1
        set -x
        make --version; ${{matrix.compiler.gcc}} --version
        make -j4 run \
           GCC='${{matrix.compiler.gcc}}' GXX='${{matrix.compiler.gxx}}' \
           MARCH='${{matrix.compiler.march}}'

    - name: Upload Results
      uses: actions/upload-artifact@v4
      with:
        name: latest-${{matrix.compiler.label}}
        path: build

  latest-cache:
    name: Prepare Guest VM
    runs-on: ubuntu-latest

    defaults:
      run: { shell: bash }
    steps:

    - *minfo
    - *sinfo
    - *cinfo
    - name: Cache Object Lookup
      id: cache
      uses: actions/cache@v4
      with:
        key: ubuntu-latest-cloud-minimal
        path: |
          ~/root.img
          ~/.ssh/id_rsa
          /usr/local/bin/vmbash.sh
        lookup-only: TRUE

    - name: Host Setup
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        exec 2>&1
        set -x
        sudo sed -i /azure/d /etc/apt/apt-mirrors.txt
        sudo apt-get update
        sudo apt-get install --no-install-recommends qemu-system-x86 cloud-image-utils
    - name: QEMU Information
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        exec 2>&1
        qemu-system-x86_64 --version

    - name: Deploy and Start Guest
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        exec 2>&1
        set -x
        cd

        wget --no-show-progress -O root.img \
          https://cloud-images.ubuntu.com/minimal/releases/questing/release/ubuntu-25.10-minimal-cloudimg-amd64.img
        qemu-img resize root.img 12G

        mkdir -m700 .ssh
        ssh-keygen -N '' -t ed25519 -f .ssh/id_rsa
        cloud-localds seed.iso - <<END
        #cloud-config
        users:
        - name: root
          ssh_authorized_keys: [ '$(<.ssh/id_rsa.pub)' ]
        END

        sudo qemu-system-x86_64 -enable-kvm -cpu host -smp 4 -m 10G \
          -drive file=root.img,if=virtio,cache=unsafe -nic user,model=virtio,hostfwd=:127.0.0.1:222-:22 \
          -daemonize -vga none -display none -cdrom seed.iso
        until ssh -oStrictHostKeyChecking=no -p222 root@127.0.0.1 : 2>/dev/null; do sleep 1; done

        tee /usr/local/bin/vmbash.sh <<'END' >/dev/null; chmod +x /usr/local/bin/vmbash.sh
        #!/bin/bash
        ssh -p222 root@127.0.0.1 bash --noprofile --norc -e -o pipefail <$1
        END

    - name: Time Synchronization
      if: steps.cache.outputs.cache-hit != 'true'
      shell: vmbash.sh {0}
      run: |
        exec 2>&1
        until [ "$(set -x; timedatectl show --value -pNTPSynchronized)" = yes ]; do (set -x; sleep 1) done

    - name: Guest Information
      if: steps.cache.outputs.cache-hit != 'true'
      shell: vmbash.sh {0}
      run: |
        exec 2>&1
        set -x
        lscpu; free -h; df -H .
    - name: Guest Setup
      if: steps.cache.outputs.cache-hit != 'true'
      shell: vmbash.sh {0}
      run: |
        exec 2>&1
        set -x
        apt-get update
        apt-get -y install make g++{,-{11..15}}-multilib clang{,-{14,17,18,19,21}}
        df -H .
        
    - name: Guest Shutdown
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        exec 2>&1
        (set -x; ssh -p222 root@127.0.0.1 poweroff) || :
        while [ "$(set -x; sudo lsof -w ~/root.img)" ]; do (set -x; sleep 1) done
