# .github/workflows/longer.yaml

name: Much Longer "Normal" Build

on:
  workflow_dispatch: NULL

jobs:
  host-build:
    name: Ubuntu ${{matrix.variant.os}}, ${{matrix.variant.label}}
    strategy:
      fail-fast: FALSE
      matrix:
        variant:
        - { label: 'gcc9',           os: '22.04',     gcc: 'gcc-9',    gxx: 'g++-9',                     pkgs: 'g++-9'                                 }
        - { label: 'gcc9',           os: '24.04',     gcc: 'gcc-9',    gxx: 'g++-9',                     pkgs: 'g++-9'                                 }
        - { label: 'gcc10',          os: '22.04',     gcc: 'gcc-10',   gxx: 'g++-10'                                                                   }
        - { label: 'gcc10',          os: '24.04',     gcc: 'gcc-10',   gxx: 'g++-10',                    pkgs: 'g++-10'                                }
        - { label: 'gcc11',          os: '22.04',     gcc: 'gcc',      gxx: 'g++'                                                                      }
        - { label: 'gcc11',          os: '24.04',     gcc: 'gcc-11',   gxx: 'g++-11',                    pkgs: 'g++-11'                                }
        - { label: 'gcc12',          os: '22.04',     gcc: 'gcc-12',   gxx: 'g++-12'                                                                   }
        - { label: 'gcc12',          os: '24.04',     gcc: 'gcc-12',   gxx: 'g++-12'                                                                   }
        - { label: 'gcc13',          os: '24.04',     gcc: 'gcc',      gxx: 'g++'                                                                      }
        - { label: 'gcc14',          os: '24.04',     gcc: 'gcc-14',   gxx: 'g++-14'                                                                   }
        - { label: 'clang13',        os: '22.04',     gcc: 'clang-13', gxx: 'clang++-13',                pkgs: 'clang-13'                              } # *
        - { label: 'clang14',        os: '22.04',     gcc: 'clang',    gxx: 'clang++'                                                                  }
        - { label: 'clang14',        os: '24.04',     gcc: 'clang-14', gxx: 'clang++-14',                pkgs: 'clang-14'                              }
        - { label: 'clang15',        os: '22.04',     gcc: 'clang-15', gxx: 'clang++-15'                                                               }
        - { label: 'clang15',        os: '24.04',     gcc: 'clang-15', gxx: 'clang++-15',                pkgs: 'clang-15'                              }
        - { label: 'clang16',        os: '24.04',     gcc: 'clang-16', gxx: 'clang++-16'                                                               }
        - { label: 'clang17',        os: '24.04',     gcc: 'clang-17', gxx: 'clang++-17'                                                               }
        - { label: 'clang18',        os: '24.04',     gcc: 'clang',    gxx: 'clang++'                                                                  }
        - { label: 'clang19',        os: '24.04',     gcc: 'clang-19', gxx: 'clang++-19',                pkgs: 'clang-19'                              }
        - { label: 'gcc9-32',        os: '22.04',     gcc: 'gcc-9',    gxx: 'g++-9',                     pkgs: 'g++-9-multilib',        i686sse2: TRUE }
        - { label: 'gcc9-32',        os: '24.04',     gcc: 'gcc-9',    gxx: 'g++-9',                     pkgs: 'g++-9-multilib',        i686sse2: TRUE }
        - { label: 'gcc10-32',       os: '22.04',     gcc: 'gcc-10',   gxx: 'g++-10',                    pkgs: 'g++-10-multilib',       i686sse2: TRUE }
        - { label: 'gcc10-32',       os: '24.04',     gcc: 'gcc-10',   gxx: 'g++-10',                    pkgs: 'g++-10-multilib',       i686sse2: TRUE }
        - { label: 'gcc11-32',       os: '22.04',     gcc: 'gcc',      gxx: 'g++',                       pkgs: 'g++-multilib',          i686sse2: TRUE }
        - { label: 'gcc11-32',       os: '24.04',     gcc: 'gcc-11',   gxx: 'g++-11',                    pkgs: 'g++-11-multilib',       i686sse2: TRUE }
        - { label: 'gcc12-32',       os: '22.04',     gcc: 'gcc-12',   gxx: 'g++-12',                    pkgs: 'g++-12-multilib',       i686sse2: TRUE }
        - { label: 'gcc12-32',       os: '24.04',     gcc: 'gcc-12',   gxx: 'g++-12',                    pkgs: 'g++-12-multilib',       i686sse2: TRUE }
        - { label: 'gcc13-32',       os: '24.04',     gcc: 'gcc',      gxx: 'g++',                       pkgs: 'g++-multilib',          i686sse2: TRUE }
        - { label: 'gcc14-32',       os: '24.04',     gcc: 'gcc-14',   gxx: 'g++-14',                    pkgs: 'g++-14-multilib',       i686sse2: TRUE }
        - { label: 'clang13-32',     os: '22.04',     gcc: 'clang-13', gxx: 'clang++-13',                pkgs: 'g++-multilib clang-13', i686sse2: TRUE } # *
        - { label: 'clang14-32',     os: '22.04',     gcc: 'clang',    gxx: 'clang++',                   pkgs: 'g++-multilib',          i686sse2: TRUE }
        - { label: 'clang14-32',     os: '24.04',     gcc: 'clang-14', gxx: 'clang++-14',                pkgs: 'g++-multilib clang-14', i686sse2: TRUE }
        - { label: 'clang15-32',     os: '22.04',     gcc: 'clang-15', gxx: 'clang++-15',                pkgs: 'g++-multilib',          i686sse2: TRUE }
        - { label: 'clang15-32',     os: '24.04',     gcc: 'clang-15', gxx: 'clang++-15',                pkgs: 'g++-multilib clang-15', i686sse2: TRUE }
        - { label: 'clang16-32',     os: '24.04',     gcc: 'clang-16', gxx: 'clang++-16',                pkgs: 'g++-multilib',          i686sse2: TRUE }
        - { label: 'clang17-32',     os: '24.04',     gcc: 'clang-17', gxx: 'clang++-17',                pkgs: 'g++-multilib',          i686sse2: TRUE }
        - { label: 'clang18-32',     os: '24.04',     gcc: 'clang',    gxx: 'clang++',                   pkgs: 'g++-multilib',          i686sse2: TRUE }
        - { label: 'clang19-32',     os: '24.04',     gcc: 'clang-19', gxx: 'clang++-19',                pkgs: 'g++-multilib clang-19', i686sse2: TRUE }
        - { label: 'clang13-libcxx', os: '22.04',     gcc: 'clang-13', gxx: 'clang++-13 -stdlib=libc++', pkgs: 'clang-13 libc++{,abi}-13-dev'          } # *
        - { label: 'clang14-libcxx', os: '22.04',     gcc: 'clang',    gxx: 'clang++ -stdlib=libc++',    pkgs:          'libc++{,abi}-dev'             }
        - { label: 'clang14-libcxx', os: '24.04',     gcc: 'clang-14', gxx: 'clang++-14 -stdlib=libc++', pkgs: 'clang-14 libc++{,abi}-14-dev'          }
        - { label: 'clang15-libcxx', os: '22.04',     gcc: 'clang-15', gxx: 'clang++-15 -stdlib=libc++', pkgs:          'libc++{,abi}-15-dev'          }
        - { label: 'clang15-libcxx', os: '24.04',     gcc: 'clang-15', gxx: 'clang++-15 -stdlib=libc++', pkgs: 'clang-15 libc++{,abi}-15-dev'          }
        - { label: 'clang16-libcxx', os: '24.04',     gcc: 'clang-16', gxx: 'clang++-16 -stdlib=libc++', pkgs:          'libc++{,abi}-16-dev'          }
        - { label: 'clang17-libcxx', os: '24.04',     gcc: 'clang-17', gxx: 'clang++-17 -stdlib=libc++', pkgs:          'libc++{,abi}-17-dev'          }
        - { label: 'clang18-libcxx', os: '24.04',     gcc: 'clang',    gxx: 'clang++ -stdlib=libc++',    pkgs:          'libc++{,abi}-dev'             }
        - { label: 'clang19-libcxx', os: '24.04',     gcc: 'clang-19', gxx: 'clang++-19 -stdlib=libc++', pkgs: 'clang-19 libc++{,abi}-19-dev'          }
        - { label: 'gcc9',           os: '22.04-arm', gcc: 'gcc-9',    gxx: 'g++-9',                     pkgs: 'g++-9'                                 }
        - { label: 'gcc9',           os: '24.04-arm', gcc: 'gcc-9',    gxx: 'g++-9',                     pkgs: 'g++-9'                                 }
        - { label: 'gcc10',          os: '22.04-arm', gcc: 'gcc-10',   gxx: 'g++-10'                                                                   }
        - { label: 'gcc10',          os: '24.04-arm', gcc: 'gcc-10',   gxx: 'g++-10',                    pkgs: 'g++-10'                                }
        - { label: 'gcc11',          os: '22.04-arm', gcc: 'gcc',      gxx: 'g++'                                                                      }
        - { label: 'gcc11',          os: '24.04-arm', gcc: 'gcc-11',   gxx: 'g++-11',                    pkgs: 'g++-11'                                }
        - { label: 'gcc12',          os: '22.04-arm', gcc: 'gcc-12',   gxx: 'g++-12'                                                                   }
        - { label: 'gcc12',          os: '24.04-arm', gcc: 'gcc-12',   gxx: 'g++-12'                                                                   }
        - { label: 'gcc13',          os: '24.04-arm', gcc: 'gcc',      gxx: 'g++'                                                                      }
        - { label: 'gcc14',          os: '24.04-arm', gcc: 'gcc-14',   gxx: 'g++-14'                                                                   }
        - { label: 'clang13',        os: '22.04-arm', gcc: 'clang-13', gxx: 'clang++-13',                pkgs: 'clang-13' } # pkgs needed due to a bug in ARM image
        - { label: 'clang14',        os: '22.04-arm', gcc: 'clang',    gxx: 'clang++'                                                                  }
        - { label: 'clang14',        os: '24.04-arm', gcc: 'clang-14', gxx: 'clang++-14',                pkgs: 'clang-14'                              }
        - { label: 'clang15',        os: '22.04-arm', gcc: 'clang-15', gxx: 'clang++-15'                                                               }
        - { label: 'clang15',        os: '24.04-arm', gcc: 'clang-15', gxx: 'clang++-15',                pkgs: 'clang-15'                              }
        - { label: 'clang16',        os: '24.04-arm', gcc: 'clang-16', gxx: 'clang++-16'                                                               }
        - { label: 'clang17',        os: '24.04-arm', gcc: 'clang-17', gxx: 'clang++-17'                                                               }
        - { label: 'clang18',        os: '24.04-arm', gcc: 'clang',    gxx: 'clang++'                                                                  }
        - { label: 'clang19',        os: '24.04-arm', gcc: 'clang-19', gxx: 'clang++-19',                pkgs: 'clang-19'                              }
        - { label: 'clang13-libcxx', os: '22.04-arm', gcc: 'clang-13', gxx: 'clang++-13 -stdlib=libc++', pkgs: 'clang-13 libc++{,abi}-13-dev'          } # *
        - { label: 'clang14-libcxx', os: '22.04-arm', gcc: 'clang',    gxx: 'clang++ -stdlib=libc++',    pkgs:          'libc++{,abi}-dev'             }
        - { label: 'clang14-libcxx', os: '24.04-arm', gcc: 'clang-14', gxx: 'clang++-14 -stdlib=libc++', pkgs: 'clang-14 libc++{,abi}-14-dev'          }
        - { label: 'clang15-libcxx', os: '22.04-arm', gcc: 'clang-15', gxx: 'clang++-15 -stdlib=libc++', pkgs:          'libc++{,abi}-15-dev'          }
        - { label: 'clang15-libcxx', os: '24.04-arm', gcc: 'clang-15', gxx: 'clang++-15 -stdlib=libc++', pkgs: 'clang-15 libc++{,abi}-15-dev'          }
        - { label: 'clang16-libcxx', os: '24.04-arm', gcc: 'clang-16', gxx: 'clang++-16 -stdlib=libc++', pkgs:          'libc++{,abi}-16-dev'          }
        - { label: 'clang17-libcxx', os: '24.04-arm', gcc: 'clang-17', gxx: 'clang++-17 -stdlib=libc++', pkgs:          'libc++{,abi}-17-dev'          }
        - { label: 'clang18-libcxx', os: '24.04-arm', gcc: 'clang',    gxx: 'clang++ -stdlib=libc++',    pkgs:          'libc++{,abi}-dev'             }
        - { label: 'clang19-libcxx', os: '24.04-arm', gcc: 'clang-19', gxx: 'clang++-19 -stdlib=libc++', pkgs: 'clang-19 libc++{,abi}-19-dev'          }
    runs-on: ubuntu-${{matrix.variant.os}}

    defaults:
      run: { shell: bash }
    steps:

    - &minfo
      name: Machine Information
      run: |
        exec 2>&1
        set -x
        lscpu; free -h; df -H .
    - &sinfo
      name: System Information
      run: |
        exec 2>&1
        date; uname -a; uptime
        set -x
        systemd-detect-virt || :
        cat /etc/os-release
        ls -C /boot || :
    - &cinfo
      name: Context Information
      run: |
        exec 2>&1
        tty || :; id; printf %s\\n SHELL="$SHELL" PATH="$PATH"
        set -x
        pwd
        sudo ps -e --sort pid -o pid,user:12,group:12,comm:24,rsz,vsz,thcount,bsdstart,state,tname

    - name: Update Package DB
      run: |
        exec 2>&1
        sudo apt-get update
    - name: Install Build Dependencies
      if: (matrix.variant.pkgs)
      run: |
        exec 2>&1
        set -x
        sudo apt-get install ${{matrix.variant.pkgs}}
    - name: Install Valgrind
      if: (!matrix.variant.i686sse2)
      run: |
        exec 2>&1
        set -x
        sudo apt-get install --no-install-recommends valgrind
    - name: Build Tools Information
      run: |
        exec 2>&1
        make --version; ${{matrix.variant.gcc}} --version

    - name: Checkout
      uses: actions/checkout@v4
      with: { ref: master }

    - name: Run Make and Check
      run: |
        exec 2>&1
        set -x
        make -j4 GCC='${{matrix.variant.gcc}}' GXX='${{matrix.variant.gxx}}' \
           MARCH='${{matrix.variant.i686sse2 && '-m32 -msse2 -mfpmath=sse' || ''}}' \
           run${{!matrix.variant.i686sse2 && '-valgrind' || ''}}

    - name: Upload Results
      uses: actions/upload-artifact@v4
      with:
        name: build-${{matrix.variant.label}}-${{matrix.variant.os}}
        path: build

  container-build:
    name: Ubuntu 25.10, ${{matrix.variant.label}}
    strategy:
      fail-fast: FALSE
      matrix:
        variant:
        - { label: 'gcc11-64',       gcc: 'gcc-11',   gxx: 'g++-11',                    pkgs: 'g++-11'                                }
        - { label: 'gcc11-32',       gcc: 'gcc-11',   gxx: 'g++-11',                    pkgs: 'g++-11-multilib',       i686sse2: TRUE }
        - { label: 'gcc12-64',       gcc: 'gcc-12',   gxx: 'g++-12',                    pkgs: 'g++-12'                                }
        - { label: 'gcc12-32',       gcc: 'gcc-12',   gxx: 'g++-12',                    pkgs: 'g++-12-multilib',       i686sse2: TRUE }
        - { label: 'gcc13-64',       gcc: 'gcc-13',   gxx: 'g++-13',                    pkgs: 'g++-13'                                }
        - { label: 'gcc13-32',       gcc: 'gcc-13',   gxx: 'g++-13',                    pkgs: 'g++-13-multilib',       i686sse2: TRUE }
        - { label: 'gcc14-64',       gcc: 'gcc',      gxx: 'g++',                       pkgs: 'g++'                                   }
        #- { label: 'gcc14-32',       gcc: 'gcc',      gxx: 'g++',                       pkgs: 'g++-multilib',          i686sse2: TRUE }
        #- { label: 'gcc15-64',       gcc: 'gcc-15     gxx: 'g++-15',                    pkgs: 'g++'                                   }
        #- { label: 'gcc15-32',       gcc: 'gcc-15',   gxx: 'g++-15',                    pkgs: 'g++-multilib',          i686sse2: TRUE }
        #- { label: 'clang14-64',     gcc: 'clang-14', gxx: 'clang++-14',                pkgs: 'clang-14'                              }
        #- { label: 'clang14-32',     gcc: 'clang-14', gxx: 'clang++-14 ',               pkgs: 'clang-14 g++-multilib', i686sse2: TRUE }
        #- { label: 'clang14-libcxx', gcc: 'clang-14', gxx: 'clang++-14 -stdlib=libc++', pkgs: 'clang-14 libc++{,abi}-14-dev'          }
        #- { label: 'clang17-64',     gcc: 'clang-17', gxx: 'clang++-17',                pkgs: 'clang-17'                              }
        #- { label: 'clang17-32',     gcc: 'clang-17', gxx: 'clang++-17',                pkgs: 'clang-17 g++-multilib', i686sse2: TRUE }
        #- { label: 'clang17-libcxx', gcc: 'clang-17', gxx: 'clang++-17 -stdlib=libc++', pkgs: 'clang-17 libc++{,abi}-17-dev'          }
        #- { label: 'clang18-64',     gcc: 'clang-18', gxx: 'clang++-18',                pkgs: 'clang-18'                              }
        #- { label: 'clang18-32',     gcc: 'clang-18', gxx: 'clang++-18',                pkgs: 'clang-18 g++-multilib', i686sse2: TRUE }
        #- { label: 'clang18-libcxx', gcc: 'clang-18', gxx: 'clang++-18 -stdlib=libc++', pkgs: 'clang-18 libc++{,abi}-18-dev'          }
        #- { label: 'clang19-64',     gcc: 'clang-19', gxx: 'clang++-19',                pkgs: 'clang-19'                              }
        #- { label: 'clang19-32',     gcc: 'clang-19', gxx: 'clang++-19',                pkgs: 'clang-19 g++-multilib', i686sse2: TRUE }
        #- { label: 'clang19-libcxx', gcc: 'clang-19', gxx: 'clang++-19 -stdlib=libc++', pkgs: 'clang-19 libc++{,abi}-19-dev'          }
        #- { label: 'clang20-64',     gcc: 'clang',    gxx: 'clang++',                   pkgs: 'clang'                                 }
        #- { label: 'clang20-32',     gcc: 'clang',    gxx: 'clang++',                   pkgs: 'clang g++-multilib',    i686sse2: TRUE }
        #- { label: 'clang20-libcxx', gcc: 'clang',    gxx: 'clang++ -stdlib=libc++',    pkgs: 'clang libc++{,abi}-dev'                }
        #- { label: 'clang21-64',     gcc: 'clang-21', gxx: 'clang++-21',                pkgs: 'clang-21'                              }
        #- { label: 'clang21-32',     gcc: 'clang-21', gxx: 'clang++-21',                pkgs: 'clang-21 g++-multilib', i686sse2: TRUE }
        #- { label: 'clang21-libcxx', gcc: 'clang-21', gxx: 'clang++-21 -stdlib=libc++', pkgs: 'clang-21 libc++{,abi}-21-dev'          }

    runs-on: ubuntu-latest
    container: ubuntu:25.10

    defaults:
      run: { shell: bash }
    steps:

    - *minfo
    - *sinfo
    - *cinfo
    - name: Setup
      run: |
        exec 2>&1
        set -x
        apt-get update
    - name: Setup
      run: |
        exec 2>&1
        set -x
        apt-get -y install git
        apt-get -y install make ${{matrix.variant.pkgs}}
        make --version; ${{matrix.variant.gcc}} --version
    - name: Setup
      if: (!matrix.variant.i686sse2)
      run: |
        exec 2>&1
        set -x
        apt-get -y install --noinstall-recommends valgrind

    - name: Checkout
      uses: actions/checkout@v4
      with: { ref: master }
    - name: Build and Test
      run: |
        exec 2>&1
        set -x
        make -j4 run GCC='${{matrix.variant.gcc}}' GXX='${{matrix.variant.gxx}}' \
          MARCH='${{matrix.variant.i686sse2 && '-m32 -msse2 -mfpmath=sse' || ''}}' \
          run${{!matrix.variant.i686sse2 && '-valgrind' || ''}}
    - name: Upload Results
      uses: actions/upload-artifact@v4
      with:
        name: latest-${{matrix.variant.label}}
        path: build
