# .github/workflows/qemu.yaml

name: Build in a QEMU VM

on:
  workflow_dispatch: NULL

jobs:
  build:

    strategy:
      fail-fast: FALSE
      matrix:
        compiler:
        - { label: 'gcc9',    gcc: 'gcc',      gxx: 'g++',        pkgs: 'g++-multilib'            }
        - { label: 'gcc10',   gcc: 'gcc-10',   gxx: 'g++-10',     pkgs: 'g++-10-multilib'         }
        - { label: 'clang18', gcc: 'clang-18', gxx: 'clang++-18', pkgs: 'clang-18 gcc++-multilib' }
        mode:
        - { label: '64',  flags: ''                         }
        - { label: '32',  flags: '-m32 -msse2 -mfpmath=sse' }
        - { label: 'x32', flags: '-mx32'                    }
    name: Build with ${{matrix.compiler.GCC}} ${{matrix.mode.flags}}
    runs-on: ubuntu-latest

    defaults:
      run: { shell: bash }

    steps:

    - name: Host Machine Information
      run: |
        exec 2>&1; set -x
        lscpu; free -h; df -H .
    - name: Host System Information
      run: |
        exec 2>&1
        date; uname -a; uptime
        set -x
        systemd-detect-virt; cat /etc/os-release; ls -C /boot || :
    - name: Context Information
      run: |
        exec 2>&1
        tty || :; id; printf %s\\n%s\\n "SHELL=$SHELL" "PATH=$PATH"
        set -x
        pwd

    - name: Deploy and Start VM
      run: |
        exec 2>&1; set -x
        cd

        sudo apt-get update
        sudo apt-get install --no-install-recommends qemu-system-x86 cloud-image-utils
        qemu-system-x86_64 --version

        wget --no-show-progress -O root.img \
          https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.img
        qemu-img resize root.img 6G

        mkdir -m777 .ssh
        ssh-keygen -N '' -t rsa -b 1024 -f .ssh/id_rsa
        cloud-localds seed.iso - <<END
        #cloud-config
        users:
        - name: root
          ssh_authorized_keys: [ '$(<.ssh/id_rsa.pub)' ]
        END

        sudo qemu-system-x86_64 -enable-kvm -cpu host -m 10G -smp 4 \
          -drive file=root.img,format=qcow2,if=virtio -cdrom seed.iso \
          -nic user,model=virtio,hostfwd=:127.0.0.1:222-:22 -daemonize -vga none -display none
        until ssh -oStrictHostKeyChecking=no -p222 root@127.0.0.1 : 2>/dev/null; do sleep 1; done

        tee /usr/local/bin/vmbash.sh <<'END' >/dev/null; chmod +x /usr/local/bin/vmbash.sh
        #!/bin/bash
        ssh -p222 root@127.0.0.1 bash --noprofile --norc -e -o pipefail <$1
        END

    - name: VM Information
      shell: vmbash.sh {0}
      run: |
        exec 2>&1; set -x
        lscpu; free -h; df -H .

    - name: Set up VM
      shell: vmbash.sh {0}
      run: |
        exec 2>&1; set -x
        apt-get update
        apt-get -y install rsync
        apt-get -y install make ${{matrix.compiler.pkgs}}
        ${{matrix.compiler.gxx}} --version

    - name: Checkout
      uses: actions/checkout@v4
    - name: Upload to VM
      run: |
        exec 2>&1; set -x
        cd ..
        tar c manool | ssh -p222 root@127.0.0.1 tar x

    - name: Test
      shell: vmbash.sh {0}
      run: |
        exec 2>&1; set -x
        tee hi.cc <<'END'
        # include <cstdio>
        int main() {
           std::puts("Hi");
           return 0;
        }
        END
        ${{matrix.compiler.gxx}} ${{matrix.compiler.mode.flags}} hi.cc
        ./a.out

    - name: Download from VM
      run: |
        exec 2>&1; set -x
        cd ..
        rm -rf manool
        ssh -p222 root@127.0.0.1 tar c manool | tar x
    - name: Upload Results
      uses: actions/upload-artifact@v4
      with:
        name: build-${{matrix.compiler.label}}-${{matrix.mode.label}}
        path: build
