# .github/workflows/qemu.yaml

name: Build in a QEMU VM

on:
  workflow_dispatch: NULL

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    defaults:
      run: { shell: bash }

    steps:

    - name: Host Machine Information
      run: |-
        lscpu; free -h; df -h .
    - name: Host System Information
      run: |-
        date; uname -a; uptime; cat /etc/os-release; ls -C /boot || :
    - name: Context Information
      run: |-
        tty || :; id; printf %s\\n "$SHELL"; printf %s\\n "$PATH"; pwd

    - name: Setup
      run: |-
        set -x
        sudo apt-get update
        sudo apt-get install qemu-system-x86
        sudo wget -nv https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64-disk-kvm.img
        sudo qemu-img resize focal-server-cloudimg-amd64-disk-kvm.img 5G

    - name: Checkout
      uses: actions/checkout@v4

    - name: Test
      run: |
        ls -la
