# .github/workflows/qemu.yaml

name: Build in a QEMU VM

on:
  workflow_dispatch: NULL

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    defaults:
      run: { shell: bash }

    steps:

    - name: Host Machine Information
      run: |-
        set -x
        lscpu; free -h; df -H .
    - name: Host System Information
      run: |-
        date; uname -a; uptime
        set -x
        systemd-detect-virt
        cat /etc/os-release; ls -C /boot || :
    - name: Context Information
      run: |-
        tty || :; id; printf %s\\n "$SHELL"; printf %s\\n "$PATH"; pwd

    - name: Deploy and Start VM
      run: |-
        set -x; cd

        sudo apt-get update
        sudo apt-get install --no-install-recommends qemu-system-x86 cloud-image-utils

        wget --no-show-progress -O root.img \
          https://cloud-images.ubuntu.com/minimal/releases/focal/release/ubuntu-20.04-minimal-cloudimg-amd64.img
        qemu-img resize root.img 5G

        mkdir .ssh; chmod 700 .ssh
        ssh-keygen -N '' -t rsa -b 1024 -f .ssh/id_rsa
        cloud-localds seed.iso - <<END
        #cloud-config
        users:
        - name: root
          ssh_authorized_keys: [ '$(<.ssh/id_rsa.pub)' ]
        END

        sudo qemu-system-x86_64 -enable-kvm -cpu host -machine q35 -m 10G -smp 4 \
          -drive file=root.img,format=qcow2,if=virtio -cdrom seed.iso \
          -nic user,model=virtio,hostfwd=:127.0.0.1:222-:22 -daemonize -vga none -display none
        until ssh -oStrictHostKeyChecking=no -p222 root@127.0.0.1 : 2>/dev/null; do sleep 1; done

        cat >/usr/local/bin/dovm.sh <<'END'
        #!/bin/bash
        ssh -p222 root@127.0.0.1 bash --noprofile --norc -e -o pipefail <$1
        END
        chmod +x /usr/local/bin/dovm.sh
        ls -ld /usr/local/bin

    - name: Set up VM
      shell: dovm.sh {0}
      run: |-
        set -x
        lscpu; free -h; df -h .
        apt update
        apt -y install g++-multilib
        g++ --version
        (set -x; set)
        (set -x; env)

    - name: Checkout
      uses: actions/checkout@v4


