# .github/workflows/qemu.yaml

name: Build in a QEMU VM

on:
  workflow_dispatch: NULL

jobs:

  qemu-build:
    name: Build with ${{matrix.compiler.label}}/${{matrix.mode.label}}
    strategy:
      fail-fast: FALSE
      matrix:
        compiler:
        - { label: 'gcc9',    gcc: 'gcc',      gxx: 'g++' }
        - { label: 'gcc10',   gcc: 'gcc-10',   gxx: 'g++-10' }
        - { label: 'clang18', gcc: 'clang-18', gxx: 'clang++-18' }
        mode:
        - { label: '64',  flags: '' }
        - { label: '32',  flags: '-m32 -msse2 -mfpmath=sse' }
        - { label: 'x32', flags: '-mx32' }

    runs-on: ubuntu-latest
    needs: [ qemu-cache ]

    defaults:
      run: { shell: bash }
    steps:

    - &minfo
      name: Host Machine Information
      run: |
        exec 2>&1
        set -x
        lscpu; free -h; df -H .
    - &sinfo
      name: Host System Information
      run: |
        exec 2>&1
        date; uname -a; uptime
        set -x
        systemd-detect-virt; cat /etc/os-release; ls -C /boot || :
    - &cinfo
      name: Context Information
      run: |
        exec 2>&1
        tty || :; id; printf %s\\n "SHELL=$SHELL" "PATH=$PATH"
        set -x
        pwd
    - name: Host Setup
      run: |
        exec 2>&1
        set -x
        sudo sed -i /azure/d /etc/apt/apt-mirrors.txt
        sudo apt-get update
        sudo apt-get install --no-install-recommends qemu-system-x86 cloud-image-utils
    - name: QEMU Information
      run: |
        exec 2>&1
        qemu-system-x86_64 --version

    - name: Lookup Cache Object
      uses: actions/cache@v4
      with:
        key: ubuntu-focal-cloud-generic
        path: |
          ~/root.img
          ~/.ssh/id_rsa
    - name: Deploy and Start VM
      run: |
        exec 2>&1
        set -x
        cd

        sudo qemu-system-x86_64 -enable-kvm -cpu host -m 10G -smp 4 \
          -drive file=root.img,format=qcow2,if=virtio -nic user,model=virtio,hostfwd=:127.0.0.1:222-:22 \
          -daemonize -vga none -display none
        until ssh -oStrictHostKeyChecking=no -p222 root@127.0.0.1 : 2>/dev/null; do sleep 1; done

        tee /usr/local/bin/vmbash.sh <<'END' >/dev/null; chmod +x /usr/local/bin/vmbash.sh
        #!/bin/bash
        ssh -p222 root@127.0.0.1 bash --noprofile --norc -e -o pipefail <$1
        END

    - name: Time Sync
      shell: vmbash.sh {0}
      run: |
        exec 2>&1; set -x
        until [ "$(timedatectl show -p NTPSynchronized --value)" = yes ]; do sleep 1; done

    - name: Checkout
      uses: actions/checkout@v4
      with: { ref: master }
    - name: Upload to VM
      run: |
        exec 2>&1; set -x
        ls -la
        cd ..
        tar c manool | ssh -p222 root@127.0.0.1 tar x

    - name: Build and Test
      shell: vmbash.sh {0}
      run: |
        exec 2>&1; set -x
        ls -la manool
        tee hi.cc <<'END'
        # include <cstdio>
        int main() {
           std::puts("Hi");
           return 0;
        }
        END
        ${{matrix.compiler.gxx}} ${{matrix.compiler.mode.flags}} hi.cc
        ./a.out

        cd manool
        make -j5 run \
           GCC='${{matrix.compiler.gcc}}' \
           GXX='${{matrix.compiler.gxx}}' \
           CFLAGS='-Wno-psabi -O3 -fno-stack-protector -fcf-protection=none -fno-stack-clash-protection -U_FORTIFY_SOURCE' \
           MARCH='${{matrix.mode.flags}}'

    - name: Download from VM
      run: |
        exec 2>&1; set -x
        cd ..
        rm -rf manool
        ssh -p222 root@127.0.0.1 tar c manool | tar x
    - name: Upload Results
      uses: actions/upload-artifact@v4
      with:
        name: build-${{matrix.compiler.label}}-${{matrix.mode.label}}
        path: build

  qemu-cache:
    name: Prepare VM Image
    runs-on: ubuntu-latest

    defaults:
      run: { shell: bash }
    steps:

    - *minfo
    - *sinfo
    - *cinfo
    - name: Lookup Cache Object
      id: cache
      uses: actions/cache@v4
      with:
        key: ubuntu-focal-cloud-generic
        path: |
          ~/root.img
          ~/.ssh/id_rsa
        lookup-only: TRUE

    - name: Host Setup
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        exec 2>&1; set -x
        sudo sed -i /azure/d /etc/apt/apt-mirrors.txt
        sudo apt-get update
        sudo apt-get install --no-install-recommends qemu-system-x86 cloud-image-utils
    - name: QEMU Information
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        exec 2>&1
        qemu-system-x86_64 --version

    - name: Deploy and Start VM
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        exec 2>&1
        set -x
        cd

        wget --no-show-progress -O root.img \
          https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.img
        qemu-img resize root.img 6G

        mkdir -m777 .ssh
        ssh-keygen -N '' -t rsa -b 1024 -f .ssh/id_rsa
        cloud-localds seed.iso - <<END
        #cloud-config
        users:
        - name: root
          ssh_authorized_keys: [ '$(<.ssh/id_rsa.pub)' ]
        END

        sudo qemu-system-x86_64 -enable-kvm -cpu host -m 10G -smp 4 \
          -drive file=root.img,format=qcow2,if=virtio -nic user,model=virtio,hostfwd=:127.0.0.1:222-:22 \
          -daemonize -vga none -display none -cdrom seed.iso
        until ssh -oStrictHostKeyChecking=no -p222 root@127.0.0.1 : 2>/dev/null; do sleep 1; done

        tee /usr/local/bin/vmbash.sh <<'END' >/dev/null; chmod +x /usr/local/bin/vmbash.sh
        #!/bin/bash
        ssh -p222 root@127.0.0.1 bash --noprofile --norc -e -o pipefail <$1
        END

    - name: Time Sync
      if: steps.cache.outputs.cache-hit != 'true'
      shell: vmbash.sh {0}
      run: |
        exec 2>&1; set -x
        until [ "$(timedatectl show -p NTPSynchronized --value)" = yes ]; do sleep 1; done

    - name: VM Information
      if: steps.cache.outputs.cache-hit != 'true'
      shell: vmbash.sh {0}
      run: |
        exec 2>&1
        set -x
        lscpu; free -h; df -H .
    - name: Set up VM
      if: steps.cache.outputs.cache-hit != 'true'
      shell: vmbash.sh {0}
      run: |
        exec 2>&1
        set -x
        apt-get update
        apt-get -y install rsync
        apt-get -y install make g++{,-10}-multilib clang-18
        make --version; g++ --version; g++-10 --version; clang++-18 --version
        
    - name: Initiate VM Shutdown
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        exec 2>&1
        ssh -p222 root@127.0.0.1 poweroff || :
    - name: Sync VM State
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        exec 2>&1
        set -x
        #cd
        while test "$(sudo lsof -w ~/root.img)"; do sleep 1; done
