# .github/workflows/quick.yaml

name: Quick "Normal" Build

on:
  workflow_dispatch:
    inputs:
      valgrind:
        description: Use Valgrind
        type: boolean
      aarch64:
        description: Run on AArch64
        type: boolean

jobs:
  quick-build:
    name: On Ubuntu ${{matrix.compiler.osver}} with ${{matrix.compiler.label}}
    strategy:
      fail-fast: FALSE
      matrix:
        compiler:
        - { label: 'gcc9',    osver: '22.04', gcc: 'gcc-9',    gxx: 'g++-9',      pkgs: 'g++-9'    }
        - { label: 'gcc9',    osver: '24.04', gcc: 'gcc-9',    gxx: 'g++-9',      pkgs: 'g++-9'    }
        - { label: 'gcc10',   osver: '22.04', gcc: 'gcc-10',   gxx: 'g++-10'                       }
        - { label: 'gcc10',   osver: '24.04', gcc: 'gcc-10',   gxx: 'g++-10',     pkgs: 'g++-10'   }
        - { label: 'gcc11',   osver: '22.04', gcc: 'gcc',      gxx: 'g++'                          }
        - { label: 'gcc11',   osver: '24.04', gcc: 'gcc-11',   gxx: 'g++-11',     pkgs: 'g++-11'   }
        - { label: 'gcc12',   osver: '22.04', gcc: 'gcc-12',   gxx: 'g++-12'                       }
        - { label: 'gcc12',   osver: '24.04', gcc: 'gcc-12',   gxx: 'g++-12'                       }
        - { label: 'gcc13',   osver: '24.04', gcc: 'gcc',      gxx: 'g++'                          }
        - { label: 'gcc14',   osver: '24.04', gcc: 'gcc-14',   gxx: 'g++-14'                       }
        - { label: 'clang13', osver: '22.04', gcc: 'clang-13', gxx: 'clang++-13', pkgs: 'clang-13' } # pkgs needed due to a bug in ARM image
        - { label: 'clang14', osver: '22.04', gcc: 'clang',    gxx: 'clang++'                      }
        - { label: 'clang14', osver: '24.04', gcc: 'clang-14', gxx: 'clang++-14', pkgs: 'clang-14' }
        - { label: 'clang15', osver: '22.04', gcc: 'clang-15', gxx: 'clang++-15'                   }
        - { label: 'clang15', osver: '24.04', gcc: 'clang-15', gxx: 'clang++-15', pkgs: 'clang-15' }
        - { label: 'clang16', osver: '24.04', gcc: 'clang-16', gxx: 'clang++-16'                   }
        - { label: 'clang17', osver: '24.04', gcc: 'clang-17', gxx: 'clang++-17'                   }
        - { label: 'clang18', osver: '24.04', gcc: 'clang',    gxx: 'clang++'                      }
        - { label: 'clang19', osver: '24.04', gcc: 'clang-19', gxx: 'clang++-19', pkgs: 'clang-19' }
    runs-on: ubuntu-${{matrix.compiler.osver}}${{inputs.aarch64 && '-arm' || ''}}

    defaults:
      run: { shell: bash }
    steps:

    - name: Machine Information
      run: |
        exec 2>&1
        set -x
        lscpu; free -h; df -H .
    - name: System Information
      run: |
        exec 2>&1
        date; uname -a; uptime
        set -x
        systemd-detect-virt || :
        cat /etc/os-release
        ls -C /boot || :
    - name: Context Information
      run: |
        exec 2>&1
        tty || :; id; printf %s\\n SHELL="$SHELL" PATH="$PATH"
        set -x
        pwd
        ps -eH --sort pid -o pid,user:12,group:12,comm:24,rsz,vsz,thcount,bsdstart,state,tname

    - name: Update Package DB
      if: (matrix.compiler.pkgs || inputs.valgrind)
      run: exec 2>&1; sudo apt-get update
    - name: Install Build Dependencies
      if: (matrix.compiler.pkgs)
      run: exec 2>&1; sudo apt-get install ${{matrix.compiler.pkgs}}
    - name: Install Valgrind
      if: (inputs.valgrind)
      run: exec 2>&1; sudo apt-get --no-install-recommends install valgrind
    - name: Build Tools Information
      run: |
        exec 2>&1
        make --version; ${{matrix.compiler.gcc}} --version

    - name: Checkout
      uses: actions/checkout@v4
      with: { ref: master }

    - name: Run Make
      run: |
        exec 2>&1
        make -j4 GCC='${{matrix.compiler.gcc}}' GXX='${{matrix.compiler.gxx}}'
    - name: Check
      run: |
        exec 2>&1
        make GCC='${{matrix.compiler.gcc}}' GXX='${{matrix.compiler.gxx}}' run
    - name: Check with Valgrind
      if: (inputs.valgrind)
      run: |
        exec 2>&1
        make GCC='${{matrix.compiler.gcc}}' GXX='${{matrix.compiler.gxx}}' run-valgrind

    - name: Upload Results
      uses: actions/upload-artifact@v4
      with:
        name: build-${{matrix.compiler.label}}-${{matrix.compiler.osver}}
        path: build
