# .github/workflows/test.yaml

name: Test Workflow

on:
  workflow_dispatch: NULL

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04-arm

    defaults:
      run: { shell: bash }
    steps:

    - name: Checkout
      uses: actions/checkout@v4
      with: { ref: master }

    - name: Test
      run: |
        exec 2>&1
        set -x
        sudo sed -i /azure/d /etc/apt/apt-mirrors.txt; sudo apt-get update
        sudo apt-get install g++-arm-linux-gnueabihf
        #find /usr/arm-linux-gnueabihf -exec ls -ld -- {} +
        make -j4 GCC=arm-linux-gnueabihf-gcc GXX=arm-linux-gnueabihf-g++ \
           MARCH='-Wl,-I/usr/arm-linux-gnueabihf/lib/ld-linux-armhf.so.3 -Wl,-rpath=/usr/arm-linux-gnueabihf/lib'
        #LD_LIBRARY_PATH=/usr/arm-linux-gnueabihf/lib
        #make run
        LD_DEBUG=libs MNL_PATH=build/lib build/mnlexec test.mnl

