# .github/workflows/test.yaml

'name': 'Test GitHub Actions'

'on':
  'workflow_dispatch':
#   inputs:
#     foo2:
#       description: 'Enable Job Group 2'
#       required: true
#       default: true
#       type: boolean
  push:
    branches: [ "test" ]

'jobs':
  'test':
    'name': 'Build'
    'runs-on': 'ubuntu-latest'

    'defaults':
      'run': { 'shell': 'bash' }

    'steps':

    - 'name': 'Machine Information'
      'run': |
        lscpu; free -h; df -h .
    - 'name': 'System Information'
      'run': |
        date; uname -a; uptime; cat /etc/os-release; ls -C /boot || :
    - 'name': 'Context Information'
      'run': |
        tty || :; id; printf %s\\n "$SHELL"; printf %s\\n "$PATH"; pwd

    - 'name': 'Checkout'
      'uses': 'actions/checkout@v4'

    - 'name': 'Test'
      'run': |
        ls -la

    - name: Set up Lima
      uses: lima-vm/lima-actions/setup@v1

    - name: Start Ubuntu 20.04 VM
      run: |
        limactl start --name=ci --cpus=2 --memory=2Gi template://ubuntu-20.04
